
@font-family:  'Open Sans', sans-serif;

body {
  font-family: @font-family;
  padding-top: 80px;
}
.navbar {
  margin-bottom: 0px;
  padding: 30px 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #333;
}
.navbar-inverse{

 .navbar-nav{
    > li{
       > a {
        color: #bbb;
      }
    }
  }
}

.cbp-af-header-shrink {
  padding-top: 15px;
  padding-bottom: 5px;
  opacity: 0.9;
}

footer {
  background-color: #333;
  color: #ddd;
  padding: 20px;
  text-align: center;
}

aside {
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 40px;
}

.range-list {
  padding: 40px 0px;

   h4 {
    margin-bottom: 40px;
    color: darkorange;
    font-weight: bold;
  }

  img {
    width: 100%;
    height: 100%;
    max-width: 140px;
    max-height: 60px;
  }
}

.range-title {
  color: darkblue;
}
.sports-icon-list {
  background-color: #333;
  padding-bottom: 40px;
  
  a {
    color: white;

    h6 {
      margin-top: 2px;
      margin-bottom: 14px;
    }
  }

  img {
    width: 70px;
    height: 70px;
  }
}

.sports-list-top {
  div {
    margin: 0px auto;
    text-align: center;

    a {
      margin-left: 30px;
      margin-right: 30px;
      display: inline-block;
    }
  }
}
 
article {
  padding: 40px;

  img {
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 6px 6px 8px #777;
    margin-bottom: 20px;
  }

   p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {

  .range-list{
     h4 {
      display: inline-block;
      font-size: 1.1em;
    }

    a {
      display: inline-block;
    }

    img {
      display: block;
    }
  }

  .navbar{ 
    img {
      max-width: 70%;
      max-height: 70%;
    }
  }
}


@media (min-width: 768px) {
  .container-sm-heigth {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
   
  }
  .row-sm-height {
    display: table-row;

  }
  .col-sm-height {
    display: table-cell;
    
  }
  .sports-icon-list {
    padding-top: 80px;
  }

}
@media (min-width: 992px) {
  .container-md-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-md-height {
    display: table-row;
  }
  .col-md-height {
    display: table-cell;
    float: none;
  }
}
@media (min-width: 1200px) {
  .container-lg-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-lg-height {
    display: table-row;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
  }
}
